<div class="modal-backdrop" id="modal">
    <div class="modal">
        <div class="m-head">
            <div class="m-title">Agendar Nueva Cita</div>
            <button id="closeModal" class="modal-close">×</button>
        </div>

        <div class="m-body">

            <label>Servicio
                <select name="servicio" id="servicio" required>
                    <option value="">Selecciona un servicio</option>
                    <option value="1">Servicio 1 - $500.00</option>
                    <option value="2">Servicio 2 - $800.00</option>
                    <option value="3">Servicio 3 - $1200.00</option>
                </select>
            </label>

            <label>Vehículo
                <select name="vehiculo_id" id="vehiculo_id" required>
                    <option value="">Selecciona un vehículo</option>
                    <option value="1">NISSAN VERSA (ABC-123-A)</option>
                    <option value="2">AUDI RS3 (XYZ-987-B)</option>
                </select>
            </label>

            <div class="row">
                <label>Fecha
                    <input type="date" id="fechaCita">
                </label>

                <label>Hora
                    <select id="hora">
                        <option value="">Selecciona hora</option>
                        <option value="08:00">08:00 AM</option>
                        <option value="09:00">09:00 AM</option>
                        <option value="10:00">10:00 AM</option>
                        <option value="11:00">11:00 AM</option>
                        <option value="12:00">12:00 PM</option>
                        <option value="13:00">1:00 PM</option>
                        <option value="14:00">2:00 PM</option>
                        <option value="15:00">3:00 PM</option>
                        <option value="16:00">4:00 PM</option>
                        <option value="17:00">5:00 PM</option>
                    </select>
                </label>
            </div>

        </div>

        <div class="m-footer">
            <button id="cancelModal" class="button ghost">Cancelar</button>
            <button id="agendar-btn" class="button primary">Agendar</button>
        </div>
    </div>
</div>
